@import '../../styles/var.scss';
@import '../../styles/mixin/shadow.scss';

.oli-tag {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  list-style: none;
  font-feature-settings: 'tnum';
  display: inline-block;
  height: auto;
  margin-right: 8px;
  padding: 6px 12px;
  font-size: 12px;
  white-space: nowrap;
  background-color: $color-blue;
  border-radius: 4px;
  border-color: transparent;
  cursor: default;
  opacity: 1;
  transition: all .3s cubic-bezier(.78, .14, .15, .86);

  &.oli-tag-checkable {
    background-color: $color-primary;
    cursor: pointer;
    user-select: none;

    &.checked {
      background-color: $color-blue;
    }
  }
}

.oli-tag:hover {
  opacity: .85;
}

.oli-tag,
.oli-tag a,
.oli-tag a:hover {
  color: #fff;
}

.oli-tag>a:first-child:last-child {
  display: inline-block;
  margin: 0 -8px;
  padding: 0 8px;
}

.oli-tag .ak-close {
  display: inline-block;
  line-height: 1;
  font-size: 12px;
  font-size: 10px \9;
  transform: scale(.83333333) rotate(0deg);
  margin-left: 3px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s cubic-bezier(.78, .14, .15, .86);
}

:root .oli-tag .ak-close {
  font-size: 12px;
}
