.material-group {
  margin-bottom: 20px;
  margin-right: 20px;
  display: inline-flex;
  align-content: center;
  justify-content: flex-start;
  // min-width: 340px;

  h3 {
    margin: 0;
    width: 1em;
    padding: 0;
    height: 100%;
    text-align: center;
    display: inline-block;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .oli-card {
    line-height: 1;
    margin-right: 5px;
  }
}

.material-card {
  width: auto;
  padding: 4px 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
