@import '../../styles/var.scss';
@import '../../styles/mixin/shadow.scss';

$counter-width: 70px;
$counter-num-height: 40px;

.oli-counter {
  position: relative;
  display: inline-block;
  width: $counter-width;
  cursor: pointer;

  .animated {
    animation-duration: .3s;
  }

  .top,
  .bottom {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .oli-button {
      height: 18px;
      padding: 0 2px;

      i {
        margin: 0;
      }
    }
  }

  .top {
    top: -8px;
    z-index: 2;
  }

  .bottom {
    bottom: -10px;
  }


  .value-control {
    position: relative;
    // background-color: #f0f0f0;
    width: $counter-width;
    height: $counter-num-height;
    text-align: center;
    width: 100%;

    > span {
      color: #333;
      line-height: $counter-num-height;
      font-size: 22px;
      font-weight: bold;
      user-select: none;
      text-shadow: 1px 1px 1px $color-gray-light;
    }
  }

  .label {
    width: $counter-width;
    background-color: $color-primary;
    color: $color-white;
    text-align: center;
    font-size: 12px;
    padding: 3px 0;
    margin-top: 1px;
    border-radius: 2px;
    user-select: none;
  }

}
