$color-primary: #313131;
$color-primary-darken: darken($color-primary, 10%);
$color-primary-lighten: lighten($color-primary, 10%);

$color-red: #e10050;
$color-red-darken: darken($color-red, 8%);
$color-red-lighten: lighten($color-red, 8%);

$color-white: #fff;
$color-violet: #9432e5;
$color-yellow: #f4b800;
$color-light-yellow: #dde532;

$color-gray-light: #c4c4c4;
$color-gray: #898989;
$color-dark-gray: #595959;


$color-blue: #0098dc;
$color-blue-darken: darken($color-blue, 8%);
$color-blue-lighten: lighten($color-blue, 8%);

// $color-blue: #00acf0;
