.oli-layout,
.oli-layout * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.oli-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  // background: #f0f2f5;

  &.oli-layout-has-sider {
    flex-direction: row;

    >.oli-layout,
    >.oli-layout-content {
      overflow-x: hidden;
      overflow-y: hidden;
    }
  }
}

.oli-layout-header,
.oli-layout-footer {
  flex: 0 0 auto
}

.oli-layout-header {
  height: 64px;
  padding: 0 50px;
  line-height: 64px;
  // background: #001529
}

.oli-layout-footer {
  padding: 24px 50px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  // background: #f0f2f5
}

.oli-layout-content {
  flex: auto;
  min-height: 0
}

.oli-layout-sider {
  position: relative;
  min-width: 0;
  transition: all .2s;

  &.oli-layout-sider-dark {
    background: #001529;
  }
}

.oli-layout-sider-children {
  height: 100%;
  margin-top: -0.1px;
  padding-top: .1px
}

.oli-layout-sider-has-trigger {
  padding-bottom: 48px
}

.oli-layout-sider-right {
  order: 1
}
