.buffs-wrapper {
  // margin-top: -40px;

  .oli-table-wrapper {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 18px;
    // margin-top: 30px;
    // margin-left: 10px;
    margin: 5px 0;
  }

  .buff-name {
    padding: 4px 8px;
  }
}
