.buffs-wrapper {
  // margin-top: -40px;

  .oli-table-wrapper {
    margin-bottom: 20px;
    width: 70%;

    @media screen and (max-width: 1440px) {
      width: 100%;
    }
  }

  h2 {
    font-size: 18px;
    margin: 5px 0;
  }

  .buff-name {
    padding: 4px 8px;
  }
}
