@import '../../styles/var.scss';
@import '../../styles/mixin/shadow.scss';

.oli-card {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  background: #fff;
  border-radius: 0;
  transition: all .3s;
  min-height: 60px;
  padding: 10px;
  margin: 10px;
  border-radius: 2px;

  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.15),
    0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  // box-shadow: 1px 3px 8px 2px #CCC;
}
