@import "../../styles//var.scss";

.oli-material-calculator {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  .oli-tree {
    margin-bottom: 10px;

    width: 100%;

    .oli-tree-node-title-wrapper {
      padding: 2px 15px;
      background-color: #fff;
      box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
      min-width: 240px;
      border-radius: 4px;
    }

    .oli-tree-node .oli-child-tree {
      padding-left: 40px;
    }

    .child-node-wrapper,
    .root-node-wrapper {
      display: flex;
      align-items: center;
      // justify-content: space-between;
    }

    .root-node-wrapper {
      h1 {
        font-size: 18px;
        padding-left: 10px;
        font-weight: 500;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
      }
    }

    .mate-wrapper {
      margin-left: 10px;
    }

    .child-node-wrapper {
      h2 {
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.flat-item-group-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
